.navbar{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    background: white;

    position: fixed;
    top:0px;
    padding: 8px;
    border-top: 4px solid #3e0e4a;

    z-index: 10;

    .logo{
        &--text{
            padding: 0px;
            font-size: 24px;
            color: #17043f;
            font-weight: 700;
        }
    }
}

.link{
    text-decoration: none;
}