body {
  margin: 0 auto;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main{
  padding: 47px 0 0 0;
  background-color: white;
  min-height: calc(100vh - 47px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.wrap{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
  &--courses{
      display: flex;
      justify-content: center;
  }

  &--navbar{
      display: flex;
      align-items: center;
      justify-content: center;
  }

  &--detail{
    display: flex;
    padding-bottom: 300px;
  }

  &--progress-bar{
    flex: 1;
    margin-left: 32px;
    justify-content: flex-end;
    
    display: flex;
    flex-direction: column;

    .status{
      position: absolute;
      right: 30px;
      margin-top: 20px;
    }
  }

  &--header{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

a{
  text-decoration: none;
  color: #f8922d;
}